.container-box {
    padding: 30px;
}
.container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 10px;
    padding-bottom: 10px;
}
body {
    background-color: #f0f0f0;
}
h2 {
    color: #4CAF50;
}