@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.container-box {
    padding: 30px;
    min-height: 100vh;
}
.container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 10px;
    padding-bottom: 10px;
}
.card-box {
    margin: 10px;
    min-width: 300px;

    /* Animation properties */
    animation: floatInFromBelow 0.5s ease-out;
    opacity: 0; /* Start with invisible */
    animation-fill-mode: forwards; /* Retain final state after animation */
}

@keyframes floatInFromBelow {
    from {
        transform: translateY(20px); /* Start slightly below */
        opacity: 0; /* Invisible at the start */
    }
    to {
        transform: translateY(0); /* End at the original position */
        opacity: 1; /* Fully visible at the end */
    }
}
.video-container {

}
body {
    background-color: #f0f0f0;
    font-family: 'Josefin Sans', cursive;
}
h2 {
    color: #4CAF50;
}
footer {
    background-color: #7d7d7d;
    margin-top: auto;
    padding: 10px 0; /* Optional: padding inside the footer */
}
.footer-content {
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center the content */
    gap: 10px; /* Space between the SVGs and the text */
    text-align: center;
}

.footer-icon {
    width: 50px; /* Adjust size as needed */
    height: 50px;
    fill: currentColor; /* Use the current text color */
}

.footer-text {
    color: #d8d8d8;
}
.login-box {
    background-color: #ffffff;
}